{% extends 'base.html' %}

{% block title %}
   More details about {{user.username}}
{% endblock %}


{% block content %}
<h1>Details about {{user.username}}</h1>
<ul>
    <li>
         <b> username: </b> {{user.username}} 
    </li>
    <li>
        <b> email: </b> {{user.email}}
    </li>
    <li>
        <b> full name (first, last): </b> {{user.first_name}} {{user.last_name}}
    </li>
</ul>

<ul>
    {% for feedback in user.feedback %}
        <li>
            <p>{{feedback.title}}</p>
            <p>{{feedback.content}}</p>
        </li>

    <form>
        {{form.hidden_tag()}}

        <button class="btn btn-primary" formmethod="GET" formaction="/feedback/{{feedback.id}}/update">Edit</button>
        <button class="btn btn-danger" formmethod="POST" formaction="/feedback/{{feedback.id}}/delete">Delete</button>
    </form>

    {% endfor %}
</ul>

<p>
    <a href="/users/{{user.username}}/feedback/add", class="btn btn-primary">Create New Feedback</a>
</p>

<form method="POST">
    <button class="btn btn-danger" formaction="/users/{{user.username}}/delete">Delete User</button>
</form>


{% endblock %}